.project-section {
    /* width: min(90%, 50rem);
    height: Auto;
    position: absolute;
    top: 0vw;
    left: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-3) !important;
    padding: 5vw;
    /* border: 1px solid var(--border);
    border-radius: 5px; */
    font-size: 1rem;

    .project-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2,
    h3,
    h4 {
        margin: 0;
        padding: 0;
    }

    h3,
    h4 {
        color: var(--color-4);
        margin-top: 2rem;
    }

    .team-of {
        margin-bottom: 0.3rem;
    }

    .gif-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
    }

    img {
        position: relative;
        width: auto;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        align-items: center;
    }

    .project-link {
        font-family: "Alegreya Sans SC", sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--bg);
        background-color: var(--color-6);
        padding: 0.5rem;
        border-radius: 5px;
        margin: 1.5rem;
        cursor: pointer;
    }

    .project-link-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        /* padding: 1.5rem; */
    }

    button {
        color: var(--bg);
        font-weight: 700;
        padding: 0.5rem;
        background-color: var(--color-4);
        font-family: "Alegreya Sans SC", sans-serif;
        cursor: pointer;
        border-style: none;
        border-radius: 5px;
    }
}

/* .project-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */