.project-section {
    width: 75%;
    height: Auto;
    position: absolute;
    top: 83vw;
    left: 7vw;
    background-color: var(--dark-6);
    padding: 5vw;
    border: 1px solid var(--color-2);
    border-radius: 5px;
}