.project-wrapper {
    background-color: var(--color-5);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 20rem;
    padding: 3vw;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin: 1vw;

    .project-title {
        color: var(--color-6);
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 0.1rem;
    }

    .tech {
        font-size: 1.2rem;
        margin-top: 01rem;
        padding: 0;
    }

    .project-description {
        text-align: center;
    }
}

.project-wrapper:hover {
    cursor: pointer;
}


.tech-box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tech-image,
.tech-image-dark-bg {
    height: 4rem;
    width: auto;
    padding: 0.3rem;
    background-color: var(--color-2);
    border-radius: 5px;
    margin: 0.15rem;
}

.tech-image-dark-bg {
    background-color: var(--color-1);
}

/*----// modal //----*/

.modal-wrapper {
    width: min(90%, 50rem);
    height: Auto;
    overflow-y: auto;
    position: fixed;
    top: 2rem !important;
    left: 50vw !important;
    transform: translateX(-50%);
    bottom: 2rem !important;
    border: 1px solid var(--border);
    border-radius: 5px;

    background-color: var(--color-dark-3) !important;
}