.skills-section {
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;

    .skill-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.3rem;
        margin-right: 0.3rem;
        border-radius: 2px;
        font-size: 1.6rem;
    }
}

.skills-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
}

.skills-title {
    width: 30vw;
    display: flex;
    color: var(--color-4);
    justify-content: flex-end;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.skill-wrapper {
    display: flex;
    align-items: center;
}

.skills-list {
    margin-left: 5vw;
}

.icon-dark-bg {
    background-color: var(--color-1);
}

.icon-light-bg {
    background-color: var(--color-2);
}