.skills-section {
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;

    h2 {
        color: var(--dark-3);
    }
}

.skills-wrapper {
    margin-top: 2vw;
}

.skills-title {
    font-weight: 700;
    color: var(--color-4)
}

.skill-wrapper {
    display: flex;
}