.contact-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

h3, h4, h5 {
    /* width: 25vw; */
    display: flex;
    justify-content: flex-end;
    color: var(--dark-4);
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
}

.contact-content {
    color: var(--color-2);
}

.email-icon {
    height: 3rem;
    padding: 1vw;
}

.resume-icon {
    width: 4rem
}

.phone-icon {
    height: 3rem;
    padding: 1vw;
}

.contact-icon, 
.resume-icon:hover {
    cursor: pointer;
}

.contact-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3vw;
}

/* .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3vw;
} */

.email-wrapper,
.phone-wrapper,
.resume-wrapper {
    display: flex;
    align-items: center;
}