.contact-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;

}

.links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    height: 3rem;
    padding: 1vw;
}

.resume-icon {
    width: 5rem
}

.phone-icon {
    height: 3rem;
    padding: 1vw;
}

.contact-icon, 
.resume-icon:hover {
    cursor: pointer;
}

.contact-wrapper, .resume-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3vw;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3vw;
}

.email-wrapper,
.phone-wrapper {
    display: flex;
    align-items: center;
}