.contact-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    /* padding: 5vw; */
    /* padding-left: 3vw;
    padding-right: 3vw; */
    /* border: 2px solid green; */
}

.links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    height: 3rem;
    padding: 1vw;
}

.resume-icon {
    width: 5rem
}

.contact-icon, 
.resume-icon:hover {
    cursor: pointer;
}

.contact-wrapper, .resume-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}