footer {
    height: 21vw;
    width: 100vw;
    margin: 0;
    font-family: "Alegreya Sans SC", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    
    p {
        color: var(--text);
        font-size: 1rem;
        font-weight: 600;
    }
}

.footer-link-wrapper{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-link {
    width: 2rem;
    height: auto;
    color: var(--color-2);
}