.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.testimonials-wrapper {
    margin-top: 2rem;
    width: min(100%, 50rem);
}

.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.testimonial-name {
    font-family: "Cinzel", serif;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-4);
    display: flex;
    flex-wrap: wrap;

    a {
        text-decoration: underline;
        margin-right: 0.3rem;
        color: var(--color-6);
    }
}

.testimonial-p {
    font-size: 1rem;
}