:root {
  --color-1: #000000;
  --color-2: #ffffff;
  /*----// Dark Mode //----*/
  --dark-1: #161614;
  --dark-2: #385b0a;
  --dark-3: #cad6bb;
  --dark-4: #dad4ef;
  --dark-5: #2c3d36;
  --dark-6: #2d3230;
  --dark-7: #264256;
  /*---// Light Mode //---*/
  --light-1: #385b0a;
  --light-2: #59464d;
  --light-3: #d1dadf;
  --light-4: #d2d8cb;
  --light-5: #f6f6f6;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--dark-1);
  color: var(--color-2)
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 1.6rem;
  color: var(--dark-3);
}

h3, h4, h5, h6 {
  color: var(--dark-4);
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--color-2);
}