:root {
  /* --color-1: #09090D;
  --color-2: #617C8C;
  --color-3: #B4CBD9;
  --color-4: #A67C6D ;
  --color-5: #59362E;
  --color-6: black;
  --color-7: white; */
  --color-1: #000000;
  --color-2: #ffffff;
  /*----// Dark Mode //----*/
  --dark-1: #161614;
  --dark-2: #385b0a;
  --dark-3: #cad6bb;
  --dark-4: #dad4ef;
  --dark-5: #2c3d36;
  --dark-6: #2d3230;
  /*---// Light Mode //---*/
  --light-1: #385b0a;
  --light-2: #59464d;
  --light-3: #d1dadf;
  --light-4: #d2d8cb;
  --light-5: #f6f6f6;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  /* margin-left: 5vw; */
  /* margin-right: 5vw; */
  background-color: var(--dark-1);
}

h3,
h4,
h5,
h6 {
  /* color: var(--color-5); */
  font-size: 1.6rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-2);
}