nav {
    background-color: var(--dark-1);
    /* background-color: var(--dark-2); */
    position: absolute;
    top: 56vw;
    right: 0vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* border: 2px solid red; */
}

.nav-link {
    /* width: 6rem; */
    background-color: var(--dark-2);
    font-family: "Open Sans", sans-serif;
    font-size: clamp(0.7rem, 1.2vw, 1.2rem);
    font-weight: 600;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 1px solid var(--color-6);
    border-radius: 5px;
}